.basket {
  width: 100%;
  height: 100vh;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--color-two);
  z-index: 4;
  overflow: auto;
}

.basket::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../../images/page-background.png');
  background-size: 150px;
  background-position: center;
  opacity: 0.2;
  z-index: -1;
}

.basketTitle {
  padding: 20px;
  margin-bottom: 10px;
  font-weight: 600;
  font-family: var(--font-one);
  color: var(--color-four);
  background-color: var(--color-five);
  box-shadow: 0 0 1px 1px var(--color-five);
  text-align: center;
}

.basketContent {
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basketEmptyText {
  margin: 20px;
  padding: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  align-items: center;
  color: var(--color-four);
  background-color: var(--color-two);
  box-shadow: 0 0 2px 2px var(--color-three);
  border-radius: 3px;
}

.basketList {
  width: 90%;
  list-style: none;
}

.basketListItem {
  margin: 20px auto;
  padding: 10px;
  background-color: var(--color-two);
  box-shadow: 0 0 2px 2px var(--color-three);
  border-radius: 3px;
}

.basketListItemContent {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.basketListItemPrice {
  font-weight: 500;
}

.basketListItemButtons {
  padding: 3px 6px;
  width: 70px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  color: var(--color-two);
  background-color: var(--color-five);
}

.basketListItemButtons button {
  color: var(--color-two);
  background-color: transparent;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

.basketListItemButtons button:hover {
  color: var(--color-one);
}

.basketOptionsButtons,
.basketOptionButton {
  margin: 20px auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.basketOptionButton {
  justify-content: center;
}

.closeBasketButton,
.clearBasketButton {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 140px;
  border: none;
  border-radius: 10px;
  font-weight: 500;
  transition: 0.2s;
  cursor: pointer;
}

.closeBasketButton {
  color: var(--color-four);
  background-color: var(--color-three);
}

.closeBasketButton:hover {
  color: var(--color-two);
  background-color: var(--color-one);
}

.clearBasketButton {
  color: var(--color-five);
  background-color: var(--color-four);
}

.clearBasketButton:hover {
  color: var(--color-two);
  background-color: var(--color-one);
}

.checkoutButton {
  margin-top: 25px;
  margin-bottom: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  color: var(--color-two);
  background-color: var(--color-five);
  transition: 0.2s;
  cursor: pointer;
}

.checkoutButton:hover {
  color: var(--color-five);
  background-color: var(--color-two);
  box-shadow: 0 0 5px 1px var(--color-five);
}

.confirmationPopup {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(37, 36, 34, 0.9);
  color: var(--color-four);
  font-family: var(--font-one);
  z-index: 10;
}

.confirmationPopup p {
  padding: 10px;
  width: 90%;
  font-weight: 600;
  text-align: center;
  background-color: var(--color-five);
  border-radius: 8px;
  box-shadow: 0 0 10px 1px var(--color-five);
}

@media (min-width: 768px) {
  .confirmationPopup p {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .confirmationPopup p {
    width: 1200px;
  }
}
