.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-two);
}

.navigationTitle {
  padding: 10px 20px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  font-family: var(--font-one);
  background-color: var(--color-two);
}

.navigationTitle h1 {
  color: var(--color-one);
  margin-left: 5px;
  font-size: 18px;
}

.navigationBasket {
  width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 2px solid var(--color-five);
  border-radius: 20px;
  transition: 0.2s;
  cursor: pointer;
}

.navigationBasket i {
  font-size: 14px;
  color: var(--color-five);
  transition: 0.2s;
}

.navigationBasketPrice {
  margin-left: 5px;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-five);
  font-family: var(--font-two);
  transition: 0.2s;
}

.navigationBasket:hover {
  background-color: var(--color-five);
}

.navigationBasket:hover.navigationBasket i,
.navigationBasket:hover .navigationBasketPrice {
  color: var(--color-two);
}

.navigationListContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-five);
  box-shadow: 0 0 1px 1px var(--color-five);
}

.navigationList {
  padding: 10px 20px;
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.navigationListItem {
  padding: 2px 4px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.navigationListMainItem {
  width: 50%;
}

.navigationListItem a {
  font-weight: 500;
  color: var(--color-two);
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.navigationListItem a:hover,
.navigationListItem a.active {
  font-weight: 600;
  color: var(--color-four);
}

@media (min-width: 550px) {
  .navigationTitle h1 {
    font-size: 24px;
  }

  .navigationBasket {
    padding: 10px;
  }

  .navigationListMainItem {
    width: auto;
  }

  .navigationList {
    justify-content: space-evenly;
  }
}
