*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-one: 'Rock Salt', cursive;
  --font-two: 'Montserrat', sans-serif;

  --color-one: #403d39;
  --color-two: #fffcf2;
  --color-three: #ccc5b9;
  --color-four: #252422;
  --color-five: #eb5e28;

  background-color: var(--color-two);
  font-family: var(--font-two);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basket {
  width: 80%;
  max-width: 1000px;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-one);
  z-index: 3;
}
